*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: white;
}

.nav-title{
    font-size: 20px;
    font-weight:normal;
}

.nav{
    background-color: gray;
    padding: 0 15px;
    min-height: 50px;
}

.nav-links{
    list-style: none;
    font-size: 10px;
}

.btn{
    background-color:lightseagreen;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

.flexed{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-links a{
    text-decoration: none;
    margin: 0px 10px;
}